<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
        <span>Username : <%= @user.name %></span>
        <span>Email: <%= @user.email %></span>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
</div>
